@page
@using LaYumba.Functional
@using static Auth.BasicAuthenticationHandler.User
@model ShoppingList.Pages.Protected.AddItems


@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>

    <div>
        @ToOptionUser(HttpContext).Map(i => $"Logged in as {i.Username}, current shopping list id: {i.ShoppingListId}").GetOrElse("")
    </div>

    <br>

    <form method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="itemName">
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity">
        </div>

        <div>
            <button id="submit">Save new item</button>
        </div>
    </form>

    existing items:
    <ol id="savedItemsList">
        @{
            foreach (var s in Model.ShoppingListReadDto.Map(list => list.Items)
                .Map(itemData =>
                    itemData.Map(i => $"{i.Name} --- {i.Quantity} times")).GetOrElse(new List<string>()))
            {
                <li>
                    @s
                </li>
            }
        }
    </ol>
</div>
</body>
</html>