@page
@using LaYumba.Functional
@using ShoppingList.Auth
@model ShoppingList.Pages.Protected.AddItems


@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    @* todo display correct shopping list id *@
    <div>
        @IdBasedAuthenticationHandler.User.ToOptionUser(HttpContext).Map(i => $"Logged in as {i.Username}").GetOrElse("")
    </div>

    <br>

    <form method="post" asp-page-handler="AddItem">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="itemName">
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity">
        </div>

        <div>
            <button id="submit" type="submit" name="shoppingListId" value="@Model.CurrentShoppingListId">Save new item</button>
        </div>
    </form>

    <form method="post" asp-page-handler="OpenCollecting">
        <div>
            <button type="submit" name="shoppingListId" value="@Model.CurrentShoppingListId">Start collecting items</button>
        </div>
    </form>

    <ol id="savedItemsList">
        @{
            var displayedList =
                Model.DisplayedDto
                    .Match(error =>
                        new List<string> {$"Something went wrong, {error}"},
                        r =>
                        {
                            var items = r.Items.ToList();
                            return items.Count < 1 ?
                                new List<string> {"no items added yet"}
                                : items.Map(dto => $"{dto.Name} --- {dto.Quantity} times");
                        });

            foreach (var s in displayedList)
            {
                <li>@s</li>
            }
        }
    </ol>
</div>
</body>
</html>