@page
@model ShoppingList.Pages.Protected.CollectItems

@{
    Layout = Layout;
}

@section Scripts{
    <script src="~/js/errorTextMessages.js"></script>
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/paper.css"/>
    <title></title>
</head>
<body>
<script src="~/js/collectItems.js"></script>
<script>
const currentShoppingListId = @Model.CurrentShoppingListId;
const currentUsername =  "@Model.CurrentUsername";

collectItemsPage(currentShoppingListId, currentUsername);
</script>

<div class="paper">
    <ol class="paper-content" id="shoppingListItems">

    </ol>

</div>
</body>
</html>