@page
@model ShoppingList.Pages.Protected.ProtectedPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Only authenticated users should be able to see this page</title>
</head>
<body>
<div>
    Only authenticated users should be able to see this page
</div>
</body>
</html>