@page
@model ShoppingList.Pages.AddItems

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>

    <form method="post">
        <div>
            <label for="shoppingListId">Shopping list id</label>
            <input type="number" id="shoppingListId">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name">
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity">
        </div>

        <div>
            <button id="submit">Save item</button>
        </div>
    </form>

    existing items:
    <ol>
        <li>todo</li>
    </ol>

</div>
</body>
</html>

@section Scripts {
    <script src="~/js/addItems.js"></script>
}