@page
@model ShoppingList.Pages.CollectingItems

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>

    <div>
        <button id="fetchListButton">Fetch list</button>
    </div>

    <ol id="shoppingListItems">

    </ol>

</div>
</body>
</html>

@section Scripts {
    <script src="~/js/credentials.js"></script>
    <script src="~/js/errorTextMessages.js"></script>
    <script src="~/js/fetchShoppingList.js"></script>
    <script src="~/js/collectingItems.js"></script>
}