@page
@model ShoppingList.Pages.CollectingItems

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>

    <form method="post">
        <div>
            <label for="shoppingListId">Shopping list id</label>
            <input type="number" id="shoppingListId">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password">
        </div>

        <div>
            <button id="submit">Fetch list</button>
        </div>
    </form>


    <ol id="shoppingListItems">

    </ol>

</div>
</body>
</html>

@section Scripts {
    <script src="~/js/fetchShoppingList.js"></script>
    <script src="~/js/collectingItems.js"></script>
}