@page
@model ShoppingList.Pages.CreateList

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <div>
            <label asp-for="ShoppingListName">Shopping list name</label>
        </div>
        <div>
            <input id="name" type="text" asp-for="ShoppingListName" placeholder="Shopping list name">
            <span asp-validation-for="ShoppingListName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Username">Username</label>
        </div>
        <div>
            <input id="username" type="text" asp-for="Username" placeholder="username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password">Password</label>
        </div>
        <div>
            <input id="password" type="password" asp-for="Password" placeholder="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ShopName">Shop name</label>
        </div>
        <div>
            <input id="shopName" type="text" asp-for="ShopName" placeholder="shop name">
            <span asp-validation-for="ShopName" class="text-danger"></span>
        </div>

        <div>
            <button id="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}