@page
@model ShoppingList.Pages.CreateUser

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <div>
            <label asp-for="Username">Username</label>
        </div>
        <div>
            <input id="username" type="text" asp-for="Username" placeholder="username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password">Password</label>
        </div>
        <div>
            <input id="password" type="password" asp-for="Password" placeholder="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div>
            <button id="submit">Submit</button>
        </div>
    </form>
    <span class="text-danger">
        @Model.ErrorText
    </span>
</div>
</body>
</html>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}