@page
@model ShoppingList.Pages.CreateUser

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/paper.css"/>
    <title></title>
</head>
<body>
<div class="paper">
    <div class="paper-content">

        <form method="post">
            <div>
                <input id="username" type="text" asp-for="Username" placeholder="username">
                <span asp-validation-for="Username" class="text-danger"></span>
                <label asp-for="Username">Username</label>
            </div>
            <div>
                <input id="password" type="password" asp-for="Password" placeholder="password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <label asp-for="Password">Password</label>
            </div>

            <div>
                <button id="submit">Submit</button>
            </div>
        </form>
        <span class="text-danger">
            @Model.ErrorText
        </span>
    </div>
</div>
</body>
</html>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}