@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page of Shopping List app.</p>

    <ul>
        <li>
            <a asp-page="/Protected/AddItems">add items to the shopping list</a>
        </li>
        <li>
            <a asp-page="/Protected/CollectingItems">start collecting shopping list items</a>
        </li>
        <li>
            <a asp-page="/CreateList">create new shopping list</a>
        </li>
    </ul>
</div>