@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page of Shopping List app.</p>

    <ul>
        <li>
            <a asp-page="/Protected/CollectItems">start collecting shopping list items</a>
        </li>
        <li>
            <a asp-page="/CreateUser">Create a new user shopping list</a>
        </li>
        <li>
            <a asp-page="/Protected/ShoppingLists">Display your shopping lists</a>
        </li>
    </ul>
</div>