@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/paper.css"/>
    <title></title>
</head>
<div class="paper">
    <div class="paper-content">
        <ul>
            <li>
                <a asp-page="/CreateUser">Create a new user</a>
            </li>
            <li>
                <a asp-page="/Protected/ShoppingLists">Display your shopping lists</a>
            </li>
        </ul>
    </div>
</div>