@page
@model ShoppingList.Pages.LoginPage

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/paper.css"/>
    <title></title>
</head>
<body>
<div class="paper">
    <div class="paper-content">
        <form method="post">
            <div>
                <input type="text" id="username" asp-for="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
                <label asp-for="Username">Username</label>
            </div>
            <div>
                <input type="password" id="password" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <label asp-for="Password">Password</label>
            </div>
            <div>
                <button id="submit">Sign in</button>
            </div>
        </form>
    </div>

    @if (Model.ErrorMessage.Length > 0)
    {
        <script>alert('@Model.ErrorMessage');</script>
    }
</div>
</body>
</html>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}