@page
@model ShoppingList.Pages.Logout
@using LaYumba.Functional
@using static ShoppingList.Auth.BasicAuthenticationHandler.User;
@using static ShoppingList.Auth.BasicAuthenticationHandler;
@using static LaYumba.Functional.F

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Logout page</title>
</head>
<body>
<div>
    @{
        @if (Model.IsSignedIn)
        {
            foreach (var u in ToOptionUser(HttpContext).Bind(i => new List<User> {i}))
            {
                <p>@($"Signed in, as {u.Username}, shopping list id: {u.ShoppingListId}")</p>

                <form method="post">
                    <input type="submit" value="Logout" id="logoutButton">
                </form>
            }
        }
        else
        {
            <p>You are signed out</p>
        }
    }
</div>
</body>
</html>