@page
@model ShoppingList.Pages.ShoppingListCreate2

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <label for="name">Shopping list name</label>
        <input id="name" type="text" name="ShoppingListName">
        <label for="username">Username</label>
        <input id="username" type="text" name="Username">
        <label for="password">Password</label>
        <input id="password" type="text" name="Password">
        <div>
            <button id="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>