@page
@model ShoppingList.Pages.ShoppingListCreate

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <label asp-for="ShoppingListName">Shopping list name</label>
        <input id="name" type="text" asp-for="ShoppingListName">
        <span asp-validation-for="ShoppingListName" class="text-danger"></span>

        <label asp-for="Username">Username</label>
        <input id="username" type="text" asp-for="Username">
        <span asp-validation-for="Username" class="text-danger"></span>

        <label asp-for="Password">Password</label>
        <input id="password" type="password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>

        <div>
            <button id="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}